/* body tags */
button {
    position: absolute;
    right: 10px;
    top: 10px;
}
/* classes */
.stats {
    bottom: 0px;
    font-size: 12px;
    position: absolute;
}

.entropy {
    left: 50%;
    position: absolute;
}

.optional {
    left: 10px;
    position: absolute;
    top: 10px;
}
.table {
    border-collapse: separate;
    border-spacing: 10px;
    display: table;
    width: 100%;
}
.row { display: table-row; }
.cell {
    border: 1px  solid black;
    display: table-cell;
    height: auto;
    padding: 0px 10px 20px 10px;
    position: relative;
    text-align: left;
    width: 400px;
}
.password {
    font-family: "Dejavu Sans Mono", "Courier New", "Lucidia Console", Monaco, monospace;
    font-size: 18px;
    text-align: center;
}
.cell-title {
    margin-top: 25px;
    text-align: center;
}
/* ids */
#container {
    margin: 0 auto;
    width: 1260px;
}
#header {
    margin: 0 auto;
    width: 1260px;
    text-align: center;
}
#entropy-toolbar input[type="radio"] { display: none; }
#entropy-toolbar input[type="radio"] + label {
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    color: #333;
    cursor: pointer;
    display:inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    font-size: 14px;
    line-height: 20px;
    margin:-2px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
}
#entropy-toolbar input[type="radio"]:checked + label {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    font-weight: bold;
    outline: 0;
}
#entropy-toolbar input[type="radio"] + label:nth-child(2) { background: #ff6961; }
#entropy-toolbar input[type="radio"] + label:nth-child(4) { background: #ffb347; }
#entropy-toolbar input[type="radio"] + label:nth-child(6) { background: #fdfd96; }
#entropy-toolbar input[type="radio"] + label:nth-child(8) { background: #77dd77; }
#entropy-toolbar input[type="radio"] + label:nth-child(10){ background: #77dd77; }
#entropy-toolbar input[type="radio"] + label:nth-child(12){ background: #77dd77; }
#eff-fyi { display: none; }
#diceware-fyi { display: none; }
#alt-fyi { display: none; }
#pseudo-fyi { display: none; }
#random-fyi { display: none; }
#base64-fyi { display: none; }
#base32-fyi { display: none; }
#hexadecimal-fyi { display: none; }
#decimal-fyi { display: none; }
/* mobile */
@media only screen and (max-width: 1000px) {
    /* classes */
    .cell {
        display: block;
        height: auto;
        margin: 10px;
        padding: 10px;
        width: auto;
    }
    .password { padding-bottom: 10px; }
    /* ids */
    #container {
        margin: 0 auto;
        width: 100%;
    }
    #header {
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #entropy-toolbar {
        width: 250px;
        margin: 0 auto;
    }
}
