@font-face {
    font-family: "DejaVu Sans Mono";
    src: url("DejaVuSansMono.ttf");
}
h1 {
    text-align: center;
}
#radio-select {
    bottom: 15px;
    position: absolute;
    left: 10px;
}
button {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
#container {
    margin: 0 auto;
    width: 1260px;
}
div.table {
    border-collapse: separate;
    border-spacing: 10px;
    display: table;
    width: 100%;
}
div.row {
    display: table-row;
}
div.cell {
    border: 1px  solid black;
    display: table-cell;
    height: 250px;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 400px;
}
p.password {
    font-family: "DejaVu Sans Mono";
    font-size: 18px;
    text-align: center;
}
p.cell-title {
    text-align: center;
}
#header #outer {
    text-align: center;
    width: 100%;
}
#entropy-toolbar {
    display: inline-block;
}
#entropy-toolbar input[type="radio"] {
    display:none;
}
#entropy-toolbar label {
    background-color:#ddd;
    color:rgba(0,0,0,0.5);
    display:inline-block;
    float:left;
    font-family: "DejaVu Sans Mono";
    font-size:16px;
    padding:4px 11px;
}
#entropy-toolbar label:hover {
    cursor: pointer;
}
#entropy-toolbar input[type="radio"]:checked + label {
    box-shadow:inset 0 0 3px black;
    color:black;
    font-weight:bold;
}

#entropy-toolbar label:nth-child(2) {
    background: #ff6961;
}
#entropy-toolbar label:nth-child(4) {
    background: #ffb347;
}
#entropy-toolbar label:nth-child(6) {
    background: #fdfd96;
}
#entropy-toolbar label:nth-child(8) {
    background: #77dd77;
}
#entropy-toolbar label:nth-child(10) {
    background: #77dd77;
}
#entropy-toolbar label:nth-child(12) {
    background: #77dd77;
}

@media only screen and (max-width: 1000px) {
    #header #outer {
        text-align: center;
        width: 80%;
    }
    div.cell {
        display: block;
        height: auto;
        margin: 10px;
        padding: 10px;
        width: 80%;
    }
    #container {
        margin: 0 auto;
        width: 90%;
    }
    p.password {
        padding-bottom: 10px;
    }
}
