@font-face {
    font-family: "Twemoji Mozilla";
    src: url("./twemoji.woff2") format("woff2");
}
/* body tags */
body {
    color: black; background-color: white;
}

select {
    -moz-appearance: none;
    -moz-border-radius: 2px;
    -webkit-appearance: none;
    background-color: #dddddd;
    border:1px solid black;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-size: 12px;
    height: 25px;
    padding: 3px 22px 3px 6px;
    width: 120px;
}
select option {
    background-color: #dddddd;
    color :black;
}
select::-ms-expand{
    display:none;
}
select:hover {
    background-color: #cccccc;
}
button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #9b5ec5; /* purple */
    border: #9b5ec5; /* purple */
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding: 0px;
    text-decoration: none;
    width: 80px;
}
button:hover {
    background: #7f34b1; /* purple */
    text-decoration: none;
}
button:hover {
    -moz-box-shadow: 1px 1px 0px #CCC;
    -webkit-box-shadow: 1px 1px 0px #CCC;
    box-shadow: 1px 1px 0px #CCC;
}
.pass-button {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 40px;
}
/* classes */
.clear { clear: both; }
.dark_contrast {
    text-shadow:
        -1px -1px 0 #bbb,  0px -1px 0 #bbb,
         1px -1px 0 #bbb, -1px  0px 0 #bbb,
        -1px  1px 0 #bbb,  0px  1px 0 #bbb,
         1px  1px 0 #bbb,  1px  0px #bbb;
}
.light_contrast {
    text-shadow:
        -1px -1px 0 #444,  0px -1px 0 #444,
         1px -1px 0 #444, -1px  0px 0 #444,
        -1px  1px 0 #444,  0px  1px 0 #444,
         1px  1px 0 #444,  1px  0px #444;
}
.bold {
    font-weight: bold;
}
.stats {
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    position: absolute;
}
.entropy {
    left: 50%;
    position: absolute;
}
.cell {
    border: 1px solid black;
    display: table-cell;
    float: left;
    height: 180px;
    margin: 5px;
    position: relative;
    width: 372px;
}
.password {
    font-family: "Dejavu Sans Mono", "Courier New", "Lucidia Console", Monaco, monospace;
    font-size: 18px;
    margin: 50px 10px 0px 10px;
    text-align: center;
}
.cell-title {
    background-color: #6280c5; /* blue */
    border-bottom: 1px solid black;
    color: white;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
}
.info-link {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.optional {
    left: 10px;
    position: absolute;
    top: 40px;
}
.optional:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    bottom: 3px;
    color: black;
    content: '▶';
    font-size: 13px;
    left: 100px;
    pointer-events: none;
    position: absolute;
    transform: rotate(90deg);
}
/* ids */
#container {
    margin: 0 auto;
    width: 768px;
}
#header {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#footer {
    text-align: center;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    cursor: pointer;
}
#overlay_text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18pt;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#table {
    display: table;
}
#navigation li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
#content {
    padding: 10px;
}
#alt-pass, #btc-pass, #diceware-pass, #eff-pass, #pseudo-pass {
    word-break: break-word;
}
#random-pass {
    word-break: break-all;
}
#entropy-toolbar { margin: 10px auto; }
#entropy-toolbar input[type="radio"] { display: none; }
#entropy-toolbar input[type="radio"] + label {
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    color: #333;
    cursor: pointer;
    display:inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: -2px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    width: 40px;
    vertical-align: middle;
}
#entropy-toolbar input[type="radio"]:checked + label {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    font-weight: bold;
    outline: 0;
}

#entropy-55 { background: #ff7171; } /* red */
#entropy-55:hover, #entropy-toolbar input[type="radio"]:checked + #entropy-55 { background: #ff3f3f; } /* red */
#entropy-60 { background: #ffcd71; } /* orange */
#entropy-60:hover, #entropy-toolbar input[type="radio"]:checked + #entropy-60 { background: #ffbc3f; } /* orange */
#entropy-65 { background: #ffff71; } /* yellow */
#entropy-65:hover, #entropy-toolbar input[type="radio"]:checked + #entropy-65 { background: #ffff3f; } /* yellow */
#entropy-70 { background: #74e163; } /* green */
#entropy-70:hover, #entropy-toolbar input[type="radio"]:checked + #entropy-70 { background: #4db635; } /* green */
#entropy-75 { background: #74e163; } /* green */
#entropy-75:hover, #entropy-toolbar input[type="radio"]:checked + #entropy-75 { background: #4db635; } /* green */
#entropy-80 { background: #74e163; } /* green */
#entropy-80:hover, #entropy-toolbar input[type="radio"]:checked + #entropy-80 { background: #4db635; } /* green */

@media only screen and (max-width: 767px) {
    #container { width: 480px; }
    .cell { margin: 5px 10px; width: 460px; }

    #entropy-toolbar { width: 240px; }
    #entropy-70 { margin-top: 2px; }
    #entropy-75 { margin-top: 2px; }
    #entropy-80 { margin-top: 2px; }
}
@media only screen and (max-width: 479px) {
    #container { width: 100%; }
    .cell { width: 95%; }

    #entropy-toolbar { width: 240px; }
    #entropy-70 { margin-top: 2px; }
    #entropy-75 { margin-top: 2px; }
    #entropy-80 { margin-top: 2px; }
}

/* Dicekey CSS */
.flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#diceTable {
    background-color: #6280c5;
    border-collapse: separate;
    border-spacing: 20px;
    display: table;
    margin: 0 auto;
}
#tableBody {
    display: table-row-group;
}
.tableRow {
    display: table-row;
}
.tableCell {
    background-color: white;
    border-radius: 10px;
    color: black;
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    width: 100px;
}
.bits {
    background-color: black;
    border: 1px solid black;
    border-spacing: 0.5px;
    display: table;
    height: 5px;
    margin: -6px auto;
    padding: 2px;
}
.bit {
    display: table-cell;
    height: 5px;
    margin: 0 auto;
    width: 5px;
}
.black {
    background-color: black;
}
.white {
    background-color: white;
}
.text {
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    height: 55px;
    letter-spacing: 4px;
    text-indent: 4px;
    width: 100px;
}
.rotate90 {
    transform: rotate(90deg);
}
.rotate180 {
    transform: rotate(180deg);
}
.rotate270 {
    transform: rotate(270deg);
}
.break {
    flex-basis: 100%;
    height: 0;
}
#howto {
    align-self: stretch;
    margin-left: 20px;
    vertical-align: top;
    width: 600px;
}
#dice-button {
    margin-top: 20px;
}

/* overriden styles for Dark Theme */
body.dark-theme {color: white; background-color: black;}
.dark-theme .cell { border-color: #FFF; }
.dark-theme a {color: yellow;}
.dark-theme a:visited {color: orange;}
.dark-theme img {filter: invert(1);}
