@font-face {
    font-family: "Noto Emoji";
    src: url("NotoEmoji-Regular.ttf");
}
/* body tags */
body { margin: 0; }
select {
    /* get consistency across all browsers */
    -moz-appearance: none;  
    -moz-border-radius: 2px;
    -webkit-appearance: none; 
    background-image: -webkit-gradient(
        linear, left bottom, left top,
        color-stop(0.16, rgb(207,207,207)), color-stop(0.79, rgb(252,252,252))
    );
    background-image: -moz-linear-gradient(
        center bottom, rgb(207,207,207) 16%, rgb(252,252,252) 79%
    );
    border:1px solid black;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 22px 3px 6px;
    width: 120px;
}
select option {
    background-color: #DDD;
    color :black;
}
select::-ms-expand{
    display:none;
}
select:hover {
    -moz-box-shadow: 1px 1px 0px #CCC;
    -webkit-box-shadow: 1px 1px 0px #CCC;
    box-shadow: 1px 1px 0px #CCC;
}
select:active, select:focus {
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0.16, rgb(207,207,207)), color-stop(0.79, rgb(252,252,252))
    );
    background-image: -moz-linear-gradient(
        center top, rgb(207,207,207) 16%, rgb(252,252,252) 79%
    );
}
button {
    /* get consistency across all browsers */
    -moz-appearance: none;  
    -moz-border-radius: 2px;
    -webkit-appearance: none; 
    background-image: -webkit-gradient(
        linear, left bottom, left top,
        color-stop(0.16, rgb(207,207,207)), color-stop(0.79, rgb(252,252,252))
    );
    background-image: -moz-linear-gradient(
        center bottom, rgb(207,207,207) 16%, rgb(252,252,252) 79%
    );
    border:1px solid black;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 10px;
    position: absolute;
    right: 10px;
    top: 40px;
}
button:active {
    background-image: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0.16, rgb(207,207,207)), color-stop(0.79, rgb(252,252,252))
    );
    background-image: -moz-linear-gradient(
        center top, rgb(207,207,207) 16%, rgb(252,252,252) 79%
    );
}
button:hover {
    -moz-box-shadow: 1px 1px 0px #CCC;
    -webkit-box-shadow: 1px 1px 0px #CCC;
    box-shadow: 1px 1px 0px #CCC;
}
/* classes */
.contrast {
    text-shadow:
        -1px -1px 0 #444,  0px -1px 0 #444,
         1px -1px 0 #444, -1px  0px 0 #444,
        -1px  1px 0 #444,  0px  1px 0 #444,
         1px  1px 0 #444,  1px  0px #444;
}
.bold {
    font-weight: bold;
}
.stats {
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    position: absolute;
}
.entropy {
    left: 50%;
    position: absolute;
}
.passphrase-separator {
    bottom: 5px;
    right: 5px;
    position: absolute;
}
.cell {
    border: 1px solid black;
    display: table-cell;
    float: left;
    height: 180px;
    margin: 5px;
    position: relative;
    width: 364px;
}
.password {
    font-family: "Dejavu Sans Mono", "Courier New", "Lucidia Console", Monaco, monospace;
    font-size: 18px;
    margin: 50px 10px 0px 10px;
    text-align: center;
}
.cell-title {
    background-color: #3385ff;
    border-bottom: 1px solid black;
    color: white;
    margin-top: 0px;
    padding: 5px;
    text-align: center;
}
.info-link {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.optional {
    left: 10px;
    position: absolute;
    top: 40px;
}
.optional:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    bottom: 3px;
    color: black;
    content: '▶';
    font-size: 13px;
    left: 100px;
    pointer-events: none;
    position: absolute;
    transform: rotate(90deg);
}
/* ids */
#container {
    display: table;
    margin: 0 auto;
    width: 768px;
}
#header {
    display: table;
    text-align: center;
    width: 100%;
}
#navigation li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
#content {
    padding: 10px;
}
#random-pass {
    word-wrap: break-word;
}
#footer { clear: both; }
#entropy-toolbar { margin: 10px auto; }
#entropy-toolbar input[type="radio"] { display: none; }
#entropy-toolbar input[type="radio"] + label {
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    color: #333;
    cursor: pointer;
    display:inline-block;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    font-size: 14px;
    line-height: 20px;
    margin: -2px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
}
#entropy-toolbar input[type="radio"]:checked + label {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    font-weight: bold;
    text-decoration: underline;
    outline: 0;
}

#entropy-55 { background: #ff6961; }
#entropy-60 { background: #ffb347; }
#entropy-65 { background: #fdfd96; }
#entropy-70 { background: #77dd77; }
#entropy-75 { background: #77dd77; }
#entropy-80 { background: #77dd77; }

#release {
    border: 1px solid #77dd77;
    display: inline-block;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    height: 32px;
}

@media only screen and (max-width: 767px) {
    #container { width: 480px; }
    .cell { width: 460px; }

    #entropy-toolbar { width: 215px; }
    #entropy-70 { margin-top: 2px; }
    #entropy-75 { margin-top: 2px; }
    #entropy-80 { margin-top: 2px; }
}
@media only screen and (max-width: 479px) {
    #container { width: 100%; }
    .cell { width: 95%; }

    #entropy-toolbar { width: 215px; }
    #entropy-70 { margin-top: 2px; }
    #entropy-75 { margin-top: 2px; }
    #entropy-80 { margin-top: 2px; }
}
